# environment variables
.env

# compiled code
build/

# test coverage report
coverage/

# application logs
logs/

# editor files
.vscode/*
*.sublime*

# Optional OS related files
## Mac
**/.DS_Store

# Data Mapper model generation from database using ORM
output/

# JS specific
## project dependencies
node_modules/
## Optional npm cache directory
.npm/
## NPM debug log
npm-debug.log
npm-shrinkwrap.json
## TypeScript incremental build
*.tsbuildinfo
## Eslint cache
.eslintcache
