# project dependencies
node_modules/

# cached packages
.npm/

# compiled code
build/

# test coverage report
coverage/

# application logs
logs/

# Optional npm cache directory
.npm/

# NPM debug log
npm-debug.log

# environment variables
.env

# TypeScript cache
*.tsbuildinfo

# Optional eslint cache
.eslintcache

# Optional OS related files
## Mac
**/.DS_Store

# Data Mapper model generation from database using ORM
output/
