engine-strict=true
always-auth=true
# Uncomment add values to use private registry from GitHub or NPM
; <package-name>:registry=https://npm.pkg.github.com/
; //npm.pkg.github.com/:_authToken=<Github access token>
; //registry.npmjs.org/:_authToken=<Npm access token>